.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -19px;
}

#ptop3
{
	width: 0.01px;
	margin-left: 22px;
	position: relative;
}

#top3
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2px;
}

#top2,#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#pu6426
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u6426
{
	z-index: 26;
	width: 1160px;
	min-height: 329px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u6255
{
	z-index: 27;
	width: 1159px;
	height: 330px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #444444;
	background-color: rgba(0, 0, 0, 0.73);
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.73);
}

#u6519-5
{
	z-index: 110;
	width: 917px;
	min-height: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 122px;
}

#u6519-2
{
	line-height: 36px;
	padding-bottom: 20px;
	color: #FFFFFF;
}

#u6519-3
{
	text-align: left;
	color: #FFFFFF;
}

#pu6373
{
	width: 0.01px;
	padding-bottom: 200px;
	left: -100px;
	top: -331px;
	margin-bottom: -200px;
	position: relative;
}

#u6373
{
	z-index: 42;
	width: 1160px;
	height: 200px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: -100px;
	border-width: 0px 0px 1px;
}

#buttonu6314
{
	z-index: 43;
	width: 190px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: fixed;
	top: 129px;
	left: 0px;
	background: transparent url("../images/coloredlogo-buttonu5216-fr.png") no-repeat center center;
	background-size: contain !important;
}

#buttonu6259
{
	z-index: 41;
	width: 170px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: fixed;
	top: 24px;
	left: 7px;
	background: transparent url("../images/logo-buttonu5210-fr.png") no-repeat center center;
	background-size: contain !important;
}

#buttonu6314.ButtonSelected,#buttonu6259.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px;
	background-size: contain !important;
}

#menuu6272
{
	z-index: 44;
	width: 394px;
	position: fixed;
	top: 33px;
	left: 177px;
}

#u6296-4
{
	width: 44px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u6294:hover #u6296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6294:hover #u6296-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6310-4
{
	width: 49px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u6294.MuseMenuActive #u6296-4,#u6308:hover #u6310-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6294.MuseMenuActive #u6296-4 p,#u6308:hover #u6310-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6303-4
{
	width: 39px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u6308.MuseMenuActive #u6310-4,#u6301:hover #u6303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6308.MuseMenuActive #u6310-4 p,#u6301:hover #u6303-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6290-4
{
	width: 77px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 17px;
}

#u6289:hover #u6290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u6301.MuseMenuActive #u6303-4 p,#u6289:hover #u6290-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6626-4
{
	width: 39px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6301.MuseMenuActive #u6303-4,#u6624:hover #u6626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6289.MuseMenuActive #u6290-4 p,#u6624:hover #u6626-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu6319
{
	z-index: 79;
	width: 394px;
	position: fixed;
	top: 133px;
	left: 177px;
}

#u6293,#u6334
{
	width: 79px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u6294,#u6335
{
	width: 79px;
	padding-bottom: 17px;
	position: relative;
}

#u6338-4
{
	width: 44px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u6624.MuseMenuActive #u6626-4,#u6335:hover #u6338-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6624.MuseMenuActive #u6626-4 p,#u6335:hover #u6338-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6307,#u6354
{
	width: 84px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 81px;
}

#u6308,#u6357
{
	width: 84px;
	padding-bottom: 17px;
	position: relative;
}

#u6360-4
{
	width: 49px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u6335.MuseMenuActive #u6338-4,#u6357:hover #u6360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6335.MuseMenuActive #u6338-4 p,#u6357:hover #u6360-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6300,#u6327
{
	width: 73px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u6301,#u6330
{
	width: 73px;
	padding-bottom: 17px;
	position: relative;
}

#u6333-4
{
	width: 39px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u6357.MuseMenuActive #u6360-4,#u6330:hover #u6333-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6357.MuseMenuActive #u6360-4 p,#u6330:hover #u6333-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6286,#u6320
{
	width: 111px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u6289,#u6321
{
	width: 111px;
	padding-bottom: 15px;
	position: relative;
}

#u6324-4
{
	width: 77px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 17px;
}

#u6289.MuseMenuActive #u6290-4,#u6321:hover #u6324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u6321.MuseMenuActive #u6324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u6330.MuseMenuActive #u6333-4 p,#u6321:hover #u6324-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6623,#u6616
{
	width: 39px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 355px;
}

#u6624,#u6619
{
	width: 39px;
	position: relative;
}

#u6622-4
{
	width: 39px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6330.MuseMenuActive #u6333-4,#u6619:hover #u6622-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6619.MuseMenuActive #u6622-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6321.MuseMenuActive #u6324-4 p,#u6619:hover #u6622-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6619.MuseMenuActive #u6622-4 p
{
	color: #46CAD7;
	visibility: inherit;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6361
{
	z-index: 33;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 859px;
}

#u6374
{
	z-index: 29;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 144px;
	left: 859px;
}

#u6376
{
	z-index: 38;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 41px;
	left: 880px;
}

#u6270
{
	z-index: 34;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 880px;
}

#u6265
{
	z-index: 75;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 880px;
}

#u6257
{
	z-index: 30;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 144px;
	left: 880px;
}

#u6369
{
	z-index: 39;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 41px;
	left: 901px;
}

#u6263
{
	z-index: 35;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 901px;
}

#u6366
{
	z-index: 76;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 901px;
}

#u6371
{
	z-index: 31;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 144px;
	left: 901px;
}

#u6363
{
	z-index: 40;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 41px;
	left: 922px;
}

#u6267
{
	z-index: 36;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 922px;
}

#u6316
{
	z-index: 77;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 922px;
}

#u6261
{
	z-index: 32;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 144px;
	left: 922px;
}

#pu6474
{
	width: 0.01px;
	left: -212px;
	margin-top: 35px;
	position: relative;
}

#u6474
{
	z-index: 2;
	width: 468px;
	border-color: #000000;
	background-color: #444444;
	background-color: rgba(0, 0, 0, 0.73);
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 235px;
	-pie-background: rgba(0, 0, 0, 0.73);
}

#u6475
{
	z-index: 3;
	width: 51px;
	min-height: 58px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 22px;
}

#u6477-4
{
	z-index: 4;
	width: 351px;
	min-height: 41px;
	font-size: 46px;
	line-height: 46px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 90px;
}

#u6478
{
	z-index: 8;
	width: 30px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #444444;
	background-color: rgba(0, 0, 0, 0.73);
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 443px;
	-pie-background: rgba(0, 0, 0, 0.73);
}

#u6480
{
	z-index: 9;
	width: 30px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #444444;
	background-color: rgba(0, 0, 0, 0.73);
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 443px;
	-pie-background: rgba(0, 0, 0, 0.73);
}

#u6482-4
{
	z-index: 10;
	width: 239px;
	min-height: 16px;
	text-align: center;
	color: #7F7F7F;
	letter-spacing: 1px;
	font-size: 13px;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 338px;
}

#u6483-4
{
	z-index: 14;
	width: 916px;
	min-height: 16px;
	text-align: center;
	color: #7F7F7F;
	letter-spacing: 1px;
	font-size: 13px;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
}

#u6520
{
	z-index: 18;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 1092px;
}

#u6522
{
	z-index: 19;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 1113px;
}

#u6524
{
	z-index: 20;
	width: 16px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 1134px;
}

#buttonu6526
{
	z-index: 21;
	width: 33px;
	height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 445px;
	left: 234px;
	background: #282828 url("../images/white-up-arrow-buttonu4866-fr.png") no-repeat center center;
	background-size: contain !important;
}

#buttonu6526:hover
{
	margin: 445px -10000px 0px 0px;
	background: #6CDCE7 url("../images/white-up-arrow-buttonu4866-fr.png") no-repeat center center;
	background-size: contain !important;
}

#buttonu6526:active
{
	margin: 445px -10000px 0px 0px;
	background: #6CDCE7 url("../images/white-up-arrow-buttonu4866-fr.png") no-repeat center center;
	background-size: contain !important;
}

#buttonu6526.ButtonSelected
{
	margin: 445px -10000px 0px 0px;
	background: #6CDCE7 url("../images/white-up-arrow-buttonu4866-fr.png") no-repeat center center;
	background-size: contain !important;
}

.Button--Normal
{
	border-style: none;
	border-color: #000000;
	background-color: #46CAD7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#u6528-4
{
	z-index: 22;
	width: 500px;
	min-height: 21px;
	color: #696F6F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 280px;
}

#u6561
{
	z-index: 115;
	width: 402px;
	min-height: 454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 748px;
}

#u6568
{
	z-index: 116;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 4px;
}

#page .verticalspacer
{
	clear: both;
}

