.version.contact_us /* version checker */
{
	color: #000006;
	background-color: #B009FB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u8730
{
	z-index: 2;
	height: 614px;
	border-color: #000000;
	background: #FFFFFF url("../images/screwcutterresults%20-283-29.jpg") no-repeat center center;
	background-size: cover;
}

#u8730-bw
{
	z-index: 2;
	margin-top: 1px;
	height: 614px;
}

#u8732
{
	z-index: 3;
	height: 611px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #58AFC2;
	opacity: 0.62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=62)";
	filter: alpha(opacity=62);
}

#u8732-bw
{
	z-index: 3;
	margin-top: 3px;
	height: 613px;
}

#u8737
{
	z-index: 4;
	width: 116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: -72px;
}

#u8739-4
{
	z-index: 6;
	width: 107px;
	min-height: 24px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 821px;
}

#u8740-4
{
	z-index: 10;
	width: 102px;
	min-height: 24px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 714px;
}

#u8741-4
{
	z-index: 14;
	width: 49px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 651px;
}

#u8742
{
	z-index: 18;
	width: 122px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 927px;
}

#u8743-4
{
	z-index: 19;
	width: 111px;
	min-height: 24px;
	border-color: #F6F6F6;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 4px;
}

#u8750
{
	z-index: 23;
	border-color: #000000;
	background-color: #CCCCCC;
	background-color: rgba(0, 0, 0, 0.2);
	-pie-background: rgba(0, 0, 0, 0.2);
}

#u8750_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 112px;
	padding-bottom: 255px;
}

#u8751
{
	z-index: 24;
	width: 468px;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	padding-bottom: 21px;
	left: 337px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u8752
{
	z-index: 25;
	width: 51px;
	min-height: 58px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 23px;
}

#u8754-4
{
	z-index: 26;
	width: 351px;
	min-height: 41px;
	background-color: transparent;
	line-height: 30px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 104px;
}

#u8757
{
	z-index: 30;
	width: 30px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	left: 565px;
	margin-top: 20px;
	position: relative;
}

#u8760-4
{
	z-index: 31;
	width: 916px;
	min-height: 16px;
	background-color: transparent;
	font-size: 13px;
	color: #DEDEDE;
	line-height: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	left: 122px;
	margin-top: 10px;
	position: relative;
}

#u8750-bw
{
	z-index: 23;
	margin-top: 82px;
	height: 533px;
}

#u8761-5
{
	z-index: 35;
	width: 916px;
	min-height: 123px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 22px;
}

#u8761-5:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 133px -10000px 0px 0px;
}

#u8761-5:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 133px -10000px 0px 0px;
}

#u8761-2
{
	line-height: 36px;
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

