.Button,.Navigation-Highlight
{
	font-family: source-sans-pro-n4, sans-serif;
}

.h2,.h3
{
	font-family: open-sans-n6, sans-serif;
}

.Dark
{
	font-family: source-sans-pro-n7, sans-serif;
}

.Navigation-White,.Navigation-Black,.Body-Text,.Character-Style
{
	font-family: open-sans-n4, sans-serif;
}

#u8490-4,#u8485-4,#u8483-4
{
	font-family: open-sans-n6, sans-serif;
}

