.version.index /* version checker */
{
	color: #0000E4;
	background-color: #FCA3D6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
}

#ptop
{
	width: 0.01px;
	margin-left: 22px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2px;
}

#top2,#top3
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#ppu6646
{
	width: 0.01px;
	margin-left: -322px;
	margin-top: -1px;
}

#pu6646
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
}

#u6646
{
	z-index: 124;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6632
{
	z-index: 121;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 26px;
	position: relative;
}

#u6634
{
	z-index: 122;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 6px;
	position: relative;
}

#u6637
{
	z-index: 123;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 15px;
	position: relative;
}

#u6687
{
	z-index: 94;
	height: 614px;
	border-color: #000000;
	background: #FFFFFF url("../images/screwcutterresults%20-283-29.jpg") no-repeat center center;
	background-size: cover;
}

#u6687-bw
{
	z-index: 94;
	height: 614px;
}

#u7072
{
	z-index: 96;
	height: 611px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #58AFC2;
	opacity: 0.62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=62)";
	filter: alpha(opacity=62);
}

#u7072-bw
{
	z-index: 96;
	margin-bottom: -1px;
	margin-top: 2px;
	height: 613px;
}

#u4603
{
	z-index: 97;
	width: 606px;
	min-height: 345px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 744px;
}

#u4602-9
{
	z-index: 98;
	width: 443px;
	min-height: 268px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 271px;
}

#u4602-2,#u4602-6
{
	text-align: left;
	line-height: 36px;
	padding-bottom: 20px;
	color: #FFFFFF;
}

#u4602-3
{
	font-size: 1px;
	line-height: 0px;
}

#u7025
{
	margin-top: 26px;
	margin-bottom: -26px;
}

#u7025.ButtonSelected
{
	min-height: 0px;
	margin: 26px 0px -26px;
}

#pbuttonu7020
{
	width: 0.01px;
}

#buttonu7020
{
	z-index: 107;
	width: 160px;
	height: 61px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu7020:hover #buttonu7020
{
	width: 163px;
	height: 64px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #6CDCE7;
	background-color: rgba(108, 220, 231, 1);
	-pie-background: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 0px;
	margin-left: 1px;
	min-height: 3px;
}

#pbuttonu7020.ButtonSelected #buttonu7020
{
	width: 163px;
	height: 64px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #6CDCE7;
	background-color: rgba(108, 220, 231, 1);
	-pie-background: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 0px;
	margin-left: 1px;
	min-height: 3px;
}

.Button--Normal
{
	border-style: none;
	border-color: #000000;
	background-color: #46CAD7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#u7021-5
{
	z-index: 108;
	width: 132px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: left;
}

#pbuttonu7020:hover #u7021-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 132px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 15px;
	min-height: 24px;
}

#pbuttonu7020.ButtonSelected #u7021-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 132px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 15px;
	min-height: 24px;
}

#u7022
{
	float: left;
	margin-top: 2px;
	margin-bottom: -2px;
	margin-right: 7px;
}

#u7022:hover
{
	min-height: 0px;
	margin: 2px 7px -2px 0px;
}

#u7023
{
	z-index: 113;
	width: 30px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7021-2
{
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 29px;
}

#pbuttonu7020 #u7021-5
{
	position: relative;
	width: 132px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 13px;
}

#u4602-7
{
	text-align: left;
	color: #FFFFFF;
}

#u7026-3
{
	z-index: 156;
	width: 147px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 518px;
	left: 369px;
}

#u7079
{
	z-index: 163;
	width: 116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 250px;
}

#menuu5221
{
	z-index: 125;
	width: 394px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 26px;
	left: 627px;
}

#u5236
{
	width: 84px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5237
{
	width: 84px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u5239-4
{
	width: 49px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 17px;
}

#u5237:hover #u5239-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u5237:hover #u5239-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u5270
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 86px;
}

#u5272-4
{
	width: 39px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 17px;
}

#u5237.MuseMenuActive #u5239-4,#u5271:hover #u5272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u5237.MuseMenuActive #u5239-4 p,#u5271:hover #u5272-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u5243
{
	width: 99px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 161px;
}

#u5246
{
	width: 99px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u5248-4
{
	width: 65px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 17px;
}

#u5271.MuseMenuActive #u5272-4,#u5246:hover #u5248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u5271.MuseMenuActive #u5272-4 p,#u5246:hover #u5248-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6982
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u5271,#u6983
{
	width: 73px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u6984-4
{
	width: 39px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 17px;
}

#u5246.MuseMenuActive #u5248-4,#u6983:hover #u6984-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u5246.MuseMenuActive #u5248-4 p,#u6983:hover #u6984-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6588
{
	width: 57px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 337px;
}

#u6591
{
	width: 57px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u5237.MuseMenuActive,#u6591.MuseMenuActive
{
	margin: 0px;
}

#u6593-4
{
	width: 57px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u6983.MuseMenuActive #u6984-4,#u6591:hover #u6593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u6591.MuseMenuActive #u6593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u6983.MuseMenuActive #u6984-4 p,#u6591:hover #u6593-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6591.MuseMenuActive #u6593-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu6953
{
	width: 0.01px;
	margin-left: -100px;
}

#u6953
{
	z-index: 81;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.09);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.09);
	border-width: 1px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 16px;
}

#u6953_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
}

#u6954-8
{
	z-index: 82;
	width: 604px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 331px;
}

#u7021-3,#u6954-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6954
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 17px;
}

#u6954-4
{
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: bold;
}

#u6959
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u6957
{
	z-index: 90;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u6954-2,#u6954-5
{
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	line-height: 18px;
}

#u6953-bw
{
	z-index: 81;
	margin-bottom: -1px;
	height: 41px;
}

#u6962
{
	z-index: 92;
	width: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 302px;
}

#pu7027-4
{
	width: 0.01px;
	margin-left: -239px;
	margin-top: 63px;
}

#u7027-4
{
	z-index: 159;
	width: 87px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u7027
{
	text-decoration: underline;
}

#u4606-6
{
	z-index: 4;
	width: 917px;
	min-height: 123px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 261px;
}

#u4606-6:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 3px -10000px 0px 0px;
}

#u4606-6:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 3px -10000px 0px 0px;
}

#u4606-2
{
	line-height: 36px;
}

#pbuttonu4607
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 88px;
}

#buttonu4607
{
	z-index: 10;
	width: 234px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 53px 39px 32.249999999999886px 30px;
	border-width: 1px 1px 0px 0px;
}

#u4610
{
	z-index: 17;
	width: 60px;
	min-height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	margin-left: 88px;
	position: relative;
}

#u4608-6
{
	z-index: 11;
	width: 234px;
	background-color: transparent;
	left: -1px;
	margin-top: 35px;
	position: relative;
}

#buttonu4972
{
	z-index: 18;
	width: 234px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	padding: 53px 38px 32.249999999999886px 30px;
	border-width: 1px 1px 0px 0px;
}

#u4975
{
	z-index: 25;
	width: 60px;
	min-height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	margin-left: 88px;
	position: relative;
}

#u4974-6
{
	z-index: 19;
	width: 234px;
	background-color: transparent;
	left: -1px;
	margin-top: 35px;
	position: relative;
}

#buttonu4617
{
	z-index: 26;
	width: 234px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
	padding: 53px 39px 32.249999999999886px 29px;
	border-width: 1px 0px 0px 1px;
}

#buttonu4607.ButtonSelected,#buttonu4972.ButtonSelected,#buttonu4617.ButtonSelected
{
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4620
{
	z-index: 33;
	width: 60px;
	min-height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	margin-left: 89px;
	position: relative;
}

#u4618-6
{
	z-index: 27;
	width: 234px;
	background-color: transparent;
	left: -1px;
	margin-top: 35px;
	position: relative;
}

#buttonu4607.ButtonSelected #u4608-6,#buttonu4972.ButtonSelected #u4974-6,#buttonu4617.ButtonSelected #u4618-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 35px 0px 0px;
}

#u4608-2,#u4974-2,#u4618-2
{
	line-height: 24px;
}

#pu4623
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 10px;
}

#u4623
{
	z-index: 2;
	height: 400px;
	border-color: #000000;
	background: #FFFFFF url("../images/imag2470.jpg") no-repeat center center;
}

#u4623-bw
{
	z-index: 2;
	height: 400px;
}

#u4748
{
	z-index: 3;
	border-color: #000000;
	background-color: #707070;
	background-color: rgba(0, 0, 0, 0.56);
	padding-bottom: 0px;
	-pie-background: rgba(0, 0, 0, 0.56);
}

#u4748_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u4748_position_content
{
	margin-bottom: -9px;
	padding-top: 34px;
}

#u4630-8
{
	z-index: 34;
	width: 916px;
	min-height: 123px;
	border-style: none;
	background-color: transparent;
	left: 122px;
	position: relative;
}

#u4630-8:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px;
}

#u4630-8:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px;
}

#u4630-2
{
	line-height: 36px;
	color: #FFFFFF;
}

#u4630-4,#u4630-6
{
	color: #FFFFFF;
}

#pu4808-7
{
	width: 0.01px;
	left: 122px;
	margin-top: 37px;
	position: relative;
}

#u4808-7
{
	z-index: 42;
	width: 299px;
	min-height: 123px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4808-7:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px -10000px 0px 0px;
}

#u4809-7
{
	z-index: 49;
	width: 299px;
	min-height: 123px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u4808-7:active,#u4809-7:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px -10000px 0px 0px;
}

#u4810-7
{
	z-index: 56;
	width: 299px;
	min-height: 123px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 617px;
}

#u4809-7:active,#u4810-7:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px -10000px 0px 0px;
}

#u4810-7:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 0px -10000px 0px 0px;
}

#u4808-2,#u4809-2,#u4810-2
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

#u4808-4,#u4808-5,#u4809-4,#u4809-5,#u4810-4,#u4810-5
{
	font-size: 18px;
	line-height: 36px;
	color: #FFFFFF;
}

#u4748-bw
{
	z-index: 3;
	height: 400px;
}

#u4871-6
{
	z-index: 71;
	width: 916px;
	min-height: 104px;
	border-style: none;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 69px;
	position: relative;
}

#u4871-6:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 104px;
	margin: 69px 0px 0px 22px;
}

#u4871-6:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 104px;
	margin: 69px 0px 0px 22px;
}

#u4871-2
{
	line-height: 36px;
	color: #282828;
}

#u4871-4
{
	color: #282828;
}

#pbuttonu4874
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 51px;
}

#buttonu4874
{
	z-index: 78;
	width: 225px;
	height: 100px;
	border-color: #787878;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 237px;
	background: transparent url("../images/ubc_neg-buttonu4874-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu4876
{
	z-index: 79;
	width: 225px;
	height: 100px;
	border-color: #787878;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/nserc_b_neg.png") no-repeat center center;
	background-size: contain;
}

#buttonu4872
{
	z-index: 77;
	width: 225px;
	height: 100px;
	border-color: #787878;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 711px;
	background: transparent url("../images/vch_neg-buttonu4872-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu4878
{
	z-index: 80;
	width: 225px;
	height: 100px;
	border-color: #787878;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 433px;
	background: transparent url("../images/ustop_neg-buttonu4878-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu4874.ButtonSelected,#buttonu4876.ButtonSelected,#buttonu4872.ButtonSelected,#buttonu4878.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

.js #buttonu4874.ose_pre_init,.js #buttonu4876.ose_pre_init,.js #buttonu4872.ose_pre_init,.js #buttonu4878.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pbuttonu4866
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 73px;
}

#buttonu4866
{
	z-index: 66;
	width: 33px;
	height: 33px;
	position: relative;
	margin-right: -10000px;
	background: #282828 url("../images/white-up-arrow-buttonu7335-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu4866:hover
{
	margin: 0px -10000px 0px 0px;
	background: #6CDCE7 url("../images/white-up-arrow-buttonu7335-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu4866:active
{
	margin: 0px -10000px 0px 0px;
	background: #6CDCE7 url("../images/white-up-arrow-buttonu7335-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu4866.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
	background: #6CDCE7 url("../images/white-up-arrow-buttonu7335-fr.png") no-repeat center center;
	background-size: contain;
}

#u4868-4
{
	z-index: 67;
	width: 500px;
	min-height: 21px;
	background-color: transparent;
	color: #696F6F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 46px;
}

#u4858
{
	z-index: 63;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 858px;
}

#u4860
{
	z-index: 64;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 879px;
}

#u4862
{
	z-index: 65;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 900px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

