.version.index /* version checker */
{
	color: #0000EF;
	background-color: #1EDD0F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
}

#ptop3
{
	width: 0.01px;
	margin-left: 22px;
}

#top3
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2px;
}

#top2,#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#ppu8016
{
	width: 0.01px;
	margin-left: -322px;
	margin-top: -1px;
}

#pu8016
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
}

#u8016
{
	z-index: 38;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u8021
{
	z-index: 35;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 26px;
	position: relative;
}

#u8020
{
	z-index: 36;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 6px;
	position: relative;
}

#u8073
{
	z-index: 37;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 15px;
	position: relative;
}

#u8036
{
	z-index: 23;
	height: 614px;
	border-color: #000000;
	background: #FFFFFF url("../images/screwcutterresults%20-283-29.jpg") no-repeat center center;
	background-size: cover;
}

#u8036-bw
{
	z-index: 23;
	height: 614px;
}

#u8015
{
	z-index: 25;
	height: 611px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #58AFC2;
	opacity: 0.62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=62)";
	filter: alpha(opacity=62);
}

#u8015-bw
{
	z-index: 25;
	margin-bottom: -1px;
	margin-top: 2px;
	height: 613px;
}

#u8023
{
	z-index: 26;
	width: 606px;
	min-height: 345px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 744px;
}

#u8026-6
{
	z-index: 27;
	width: 443px;
	min-height: 268px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 271px;
}

#u8026-2,#u8026-3
{
	text-align: left;
	line-height: 36px;
	padding-bottom: 20px;
	color: #FFFFFF;
}

#u8026-4
{
	text-align: left;
	color: #FFFFFF;
}

#u8014-3
{
	z-index: 39;
	width: 147px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 518px;
	left: 369px;
}

#u8018
{
	z-index: 42;
	width: 116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 250px;
}

#u8373
{
	z-index: 44;
	width: 460px;
	min-height: 146px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 271px;
}

#u8375-4
{
	z-index: 45;
	width: 102px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 1248px;
}

#pu7993
{
	width: 0.01px;
	margin-left: -100px;
}

#u7993
{
	z-index: 10;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.09);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.09);
	border-width: 1px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 16px;
}

#u7993_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
}

#u8006-8
{
	z-index: 11;
	width: 604px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 331px;
}

#u8006-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8006
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 17px;
}

#u8006-4
{
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: bold;
}

#u8007
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u8008
{
	z-index: 19;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8006-2,#u8006-5
{
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	line-height: 18px;
}

#u7993-bw
{
	z-index: 10;
	margin-bottom: -1px;
	height: 41px;
}

#u7976
{
	z-index: 21;
	width: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 302px;
}

#u8000-4
{
	z-index: 2;
	width: 916px;
	min-height: 49px;
	border-style: none;
	background-color: transparent;
	color: #282828;
	line-height: 36px;
	margin-left: 22px;
	margin-top: 35px;
	position: relative;
}

#u8000-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 35px 0px 0px 22px;
}

#u8000-4:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 35px 0px 0px 22px;
}

#pbuttonu7999
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 8px;
}

#buttonu7999
{
	z-index: 7;
	width: 225px;
	height: 100px;
	border-color: #787878;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 237px;
	background: transparent url("../images/ubc_neg-buttonu7999-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu7983
{
	z-index: 8;
	width: 225px;
	height: 100px;
	border-color: #787878;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/nserc_b_neg.png") no-repeat center center;
	background-size: contain;
}

#buttonu8005
{
	z-index: 6;
	width: 225px;
	height: 100px;
	border-color: #787878;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 711px;
	background: transparent url("../images/vch_neg-buttonu8005-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu7980
{
	z-index: 9;
	width: 225px;
	height: 100px;
	border-color: #787878;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 433px;
	background: transparent url("../images/ustop_neg-buttonu7980-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu7999.ButtonSelected,#buttonu7983.ButtonSelected,#buttonu8005.ButtonSelected,#buttonu7980.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

.js #buttonu7999.ose_pre_init,.js #buttonu7983.ose_pre_init,.js #buttonu8005.ose_pre_init,.js #buttonu7980.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 44px;
}

#page .verticalspacer
{
	clear: both;
}

