.version.our_team /* version checker */
{
	color: #0000F4;
	background-color: #1E9917;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -19px;
}

#ptop
{
	width: 0.01px;
	margin-left: 22px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2px;
}

#top2,#top3
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#ppu6648
{
	width: 0.01px;
	margin-left: -324px;
	margin-top: -1px;
}

#pu6648
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 126px;
}

#u6648
{
	z-index: 147;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u6635
{
	z-index: 146;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u5823
{
	z-index: 55;
	height: 330px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #FFFFFF url("../images/screw%20dimensions.jpg") no-repeat center center;
	background-size: cover;
}

#u5823-bw
{
	z-index: 55;
	height: 332px;
}

#u5824
{
	z-index: 56;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #444444;
	background-color: rgba(0, 0, 0, 0.73);
	padding-bottom: 10px;
	-pie-background: rgba(0, 0, 0, 0.73);
}

#u5824_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
}

#u5885-7
{
	z-index: 62;
	width: 916px;
	min-height: 124px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 121px;
}

#u5885-2,#u5885-4
{
	line-height: 36px;
	padding-bottom: 20px;
	color: #FFFFFF;
}

#u5885-5
{
	text-align: left;
	color: #FFFFFF;
}

#u5824-bw
{
	z-index: 56;
	height: 322px;
}

#pu5905
{
	width: 0.01px;
	padding-bottom: 199px;
	margin-left: -100px;
	margin-top: -350px;
}

#u5905
{
	z-index: 78;
	height: 199px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: #FFFFFF;
	border-width: 0px 0px 1px;
}

#u5905-bw
{
	z-index: 78;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 1px;
}

#buttonu5906
{
	z-index: 79;
	width: 190px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: fixed;
	top: 129px;
	left: 0px;
	background: transparent url("../images/coloredlogo-buttonu5906-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu5903
{
	z-index: 77;
	width: 170px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: fixed;
	top: 24px;
	left: 7px;
	background: transparent url("../images/logo-buttonu5903-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu5906.ButtonSelected,#buttonu5903.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px;
	background-size: contain;
}

#menuu5908
{
	z-index: 80;
	width: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 33px;
	left: 177px;
}

#u5913-4
{
	width: 44px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u5912:hover #u5913-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5912:hover #u5913-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u5937
{
	width: 84px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u5939-4
{
	width: 49px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u5912.MuseMenuActive #u5913-4,#u5937:hover #u5939-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5912.MuseMenuActive #u5913-4 p,#u5937:hover #u5939-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u5919
{
	width: 81px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u5920-4
{
	width: 47px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 17px;
}

#u5919:hover #u5920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u5937.MuseMenuActive #u5939-4 p,#u5919:hover #u5920-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u5945-4
{
	width: 65px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u5937.MuseMenuActive #u5939-4,#u5944:hover #u5945-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5919.MuseMenuActive #u5920-4 p,#u5944:hover #u5945-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6612
{
	width: 39px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u6613-4
{
	width: 39px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u5944.MuseMenuActive #u5945-4,#u6612:hover #u6613-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5944.MuseMenuActive #u5945-4 p,#u6612:hover #u6613-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu6082
{
	z-index: 115;
	width: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 133px;
	left: 177px;
}

#u5909,#u6110
{
	width: 79px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5912,#u6113
{
	width: 79px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u6116-4
{
	width: 44px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u6612.MuseMenuActive #u6613-4,#u6113:hover #u6116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6612.MuseMenuActive #u6613-4 p,#u6113:hover #u6116-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u5936,#u6083
{
	width: 84px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 81px;
}

#u6086
{
	width: 84px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u6088-4
{
	width: 49px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u6113.MuseMenuActive #u6116-4,#u6086:hover #u6088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6113.MuseMenuActive #u6116-4 p,#u6086:hover #u6088-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u5916,#u6124
{
	width: 81px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u6125
{
	width: 81px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u6127-4
{
	width: 47px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 17px;
}

#u5919.MuseMenuActive #u5920-4,#u6125:hover #u6127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u6125.MuseMenuActive #u6127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u6086.MuseMenuActive #u6088-4 p,#u6125:hover #u6127-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u5943,#u6103
{
	width: 99px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 250px;
}

#u5944,#u6106
{
	width: 99px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u6108-4
{
	width: 65px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u6086.MuseMenuActive #u6088-4,#u6106:hover #u6108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6125.MuseMenuActive #u6127-4 p,#u6106:hover #u6108-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6609,#u6602
{
	width: 39px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#u6603
{
	width: 39px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u5937.MuseMenuActive,#u5919.MuseMenuActive,#u6612.MuseMenuActive,#u6086.MuseMenuActive,#u6125.MuseMenuActive,#u6603.MuseMenuActive
{
	margin: 0px;
}

#u6606-4
{
	width: 39px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u6106.MuseMenuActive #u6108-4,#u6603:hover #u6606-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6603.MuseMenuActive #u6606-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6106.MuseMenuActive #u6108-4 p,#u6603:hover #u6606-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6603.MuseMenuActive #u6606-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u5886
{
	z-index: 69;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 859px;
}

#u5877
{
	z-index: 58;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 144px;
	left: 859px;
}

#u5895
{
	z-index: 74;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 41px;
	left: 880px;
}

#u5888
{
	z-index: 70;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 880px;
}

#u6006
{
	z-index: 111;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 880px;
}

#u5879
{
	z-index: 59;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 144px;
	left: 880px;
}

#u5897
{
	z-index: 75;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 41px;
	left: 901px;
}

#u5890
{
	z-index: 71;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 901px;
}

#u6008
{
	z-index: 112;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 901px;
}

#u5881
{
	z-index: 60;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 144px;
	left: 901px;
}

#u5899
{
	z-index: 76;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 41px;
	left: 922px;
}

#u5892
{
	z-index: 72;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 922px;
}

#u6010
{
	z-index: 113;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 142px;
	left: 922px;
}

#u5883
{
	z-index: 61;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 144px;
	left: 922px;
}

#pbuttonu5395
{
	width: 0.01px;
	margin-left: -410px;
	margin-top: 15px;
}

#buttonu5395
{
	z-index: 2;
	width: 732px;
	border-color: #F6F6F6;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#buttonu5395.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
}

#u6638
{
	z-index: 13;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 86px;
}

#pu5404
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 432px;
}

#u5404
{
	z-index: 3;
	width: 300px;
	height: 300px;
	border-color: #000000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	background: #F6F6F6 url("../images/team-c-ieu5404-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/team-c.jpg") no-repeat left top;
	background-color: #F6F6F6;
	background-size: cover;
}

#u5398-6
{
	z-index: 4;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5402
{
	z-index: 10;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 225px;
}

#u5396
{
	z-index: 11;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 248px;
}

#u5399
{
	z-index: 12;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 272px;
}

#buttonu5405
{
	z-index: 36;
	width: 300px;
	border-color: #F6F6F6;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 740px;
}

#u5411
{
	z-index: 37;
	width: 300px;
	height: 300px;
	border-color: #000000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	background: #F6F6F6 url("../images/team-c-ieu5404-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/team-c.jpg") no-repeat left top;
	background-color: #F6F6F6;
	background-size: cover;
}

#u5412-6
{
	z-index: 38;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5406
{
	z-index: 44;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 225px;
}

#u5408
{
	z-index: 45;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 248px;
}

#u5413
{
	z-index: 46;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 272px;
}

#buttonu5425
{
	z-index: 25;
	width: 300px;
	border-color: #F6F6F6;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 1048px;
}

#buttonu5405.ButtonSelected,#buttonu5425.ButtonSelected
{
	margin: 35px -10000px 0px 0px;
}

#u5428
{
	z-index: 26;
	width: 300px;
	height: 300px;
	border-color: #000000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	background: #F6F6F6 url("../images/team-c-ieu5404-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/team-c.jpg") no-repeat left top;
	background-color: #F6F6F6;
	background-size: cover;
}

#u5434-6
{
	z-index: 27;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5431
{
	z-index: 33;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 225px;
}

#u5426
{
	z-index: 34;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 248px;
}

#u5429
{
	z-index: 35;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 272px;
}

#buttonu5415
{
	z-index: 14;
	width: 300px;
	border-color: #F6F6F6;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-left: 43px;
	position: relative;
}

#buttonu5415.ButtonSelected
{
	margin: 0px 0px 0px 43px;
}

#u5420
{
	z-index: 15;
	width: 300px;
	height: 300px;
	border-color: #000000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	background: #F6F6F6 url("../images/team-c-ieu5404-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/team-c.jpg") no-repeat left top;
	background-color: #F6F6F6;
	background-size: cover;
}

#buttonu5395.ButtonSelected #u5404,#buttonu5405.ButtonSelected #u5411,#buttonu5425.ButtonSelected #u5428,#buttonu5415.ButtonSelected #u5420
{
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	background-size: cover;
}

#pu5398-6,#pu5412-6,#pu5434-6,#pu5423-6
{
	width: 0.01px;
	margin-top: 16px;
}

#u5423-6
{
	z-index: 16;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu5395.ButtonSelected #u5398-6,#buttonu5405.ButtonSelected #u5412-6,#buttonu5425.ButtonSelected #u5434-6,#buttonu5415.ButtonSelected #u5423-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5398-2,#u5412-2,#u5434-2,#u5423-2
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	padding-bottom: 10px;
}

#u5398-4,#u5412-4,#u5434-4,#u5423-4
{
	text-align: left;
}

#u5418
{
	z-index: 22;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 225px;
}

#u5421
{
	z-index: 23;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 248px;
}

#u5416
{
	z-index: 24;
	width: 20px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 272px;
}

.js #buttonu5395.ose_pre_init,.js #buttonu5405.ose_pre_init,.js #buttonu5425.ose_pre_init,.js #buttonu5415.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pbuttonu6535
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 90px;
}

#buttonu6535
{
	z-index: 50;
	width: 33px;
	height: 33px;
	position: relative;
	margin-right: -10000px;
	background: #282828 url("../images/white-up-arrow-buttonu4866-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu6535:hover
{
	margin: 0px -10000px 0px 0px;
	background: #6CDCE7 url("../images/white-up-arrow-buttonu4866-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu6535:active
{
	margin: 0px -10000px 0px 0px;
	background: #6CDCE7 url("../images/white-up-arrow-buttonu4866-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu6535.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
	background: #6CDCE7 url("../images/white-up-arrow-buttonu4866-fr.png") no-repeat center center;
	background-size: contain;
}

.Button--Normal
{
	border-style: none;
	border-color: #000000;
	background-color: #46CAD7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#u6537-4
{
	z-index: 51;
	width: 500px;
	min-height: 21px;
	background-color: transparent;
	color: #696F6F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 46px;
}

#u6529
{
	z-index: 47;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 858px;
}

#u6531
{
	z-index: 48;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 879px;
}

#u6533
{
	z-index: 49;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 900px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

