.version.about /* version checker */
{
	color: #00000B;
	background-color: #DF4656;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 71px;
	padding-right: 380px;
	padding-bottom: 499px;
}

#accordionu7710
{
	z-index: 2;
	width: 188px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 192px;
}

#u7711
{
	z-index: 3;
	width: 188px;
	background-color: transparent;
	position: relative;
}

#u7712-3
{
	z-index: 4;
	width: 178px;
	min-height: 50px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u7712-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	margin: 0px;
}

#u7713
{
	z-index: 7;
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.95);
	padding-bottom: 7px;
	position: relative;
	border-width: 0px 0px 1px 1px;
	-pie-background: rgba(255, 255, 255, 0.95);
}

#menuu7714
{
	z-index: 8;
	width: 187px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u7715
{
	width: 187px;
	background-color: transparent;
	position: relative;
}

#u7718
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u7721-4
{
	width: 187px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7718:hover #u7721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u7718.MuseMenuActive #u7721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u7718:hover #u7721-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7730
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
	border-width: 0px 0px 1px;
}

#u7731-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 0px;
}

#u7730:hover #u7731-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7718.MuseMenuActive #u7721-4 p,#u7730:hover #u7731-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7723
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u7730.MuseMenuActive,#u7723.MuseMenuActive
{
	width: 187px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7726-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u7730.MuseMenuActive #u7731-4,#u7723:hover #u7726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7730.MuseMenuActive #u7731-4 p,#u7723:hover #u7726-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7738-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u7723.MuseMenuActive #u7726-4,#u7737:hover #u7738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7723.MuseMenuActive #u7726-4 p,#u7737:hover #u7738-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7746-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u7737.MuseMenuActive #u7738-4,#u7744:hover #u7746-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7737.MuseMenuActive #u7738-4 p,#u7744:hover #u7746-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7729,#u7722,#u7736,#u7743,#u7750
{
	width: 187px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u7737,#u7744,#u7753
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u7756-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u7744.MuseMenuActive #u7746-4,#u7753:hover #u7756-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7753.MuseMenuActive #u7756-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7744.MuseMenuActive #u7746-4 p,#u7753:hover #u7756-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7753.MuseMenuActive #u7756-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

