.version.contact /* version checker */
{
	color: #000000;
	background-color: #186418;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1370.65px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 17px;
	padding-bottom: 50.34999999999991px;
}

#accordionu7757
{
	z-index: 40;
	width: 188px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 192px;
}

#u7758
{
	z-index: 41;
	width: 188px;
	background-color: transparent;
	position: relative;
}

#u7759-3
{
	z-index: 42;
	width: 178px;
	min-height: 50px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u7759-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	margin: 0px;
}

#u7760
{
	z-index: 45;
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.95);
	padding-bottom: 9px;
	position: relative;
	border-width: 0px 0px 1px 1px;
	-pie-background: rgba(255, 255, 255, 0.95);
}

#menuu7761
{
	z-index: 46;
	width: 187px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u7762
{
	width: 187px;
	background-color: transparent;
	position: relative;
}

#u7768-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7765:hover #u7768-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7765:hover #u7768-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7765,#u7777
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u7778-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7765.MuseMenuActive #u7768-4,#u7777:hover #u7778-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7765.MuseMenuActive #u7768-4 p,#u7777:hover #u7778-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7770
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u7773-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u7777.MuseMenuActive #u7778-4,#u7770:hover #u7773-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7777.MuseMenuActive #u7778-4 p,#u7770:hover #u7773-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7785-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u7770.MuseMenuActive #u7773-4,#u7784:hover #u7785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7770.MuseMenuActive #u7773-4 p,#u7784:hover #u7785-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7791
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
	border-width: 0px 0px 1px;
}

#u7793-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 0px;
}

#u7784.MuseMenuActive #u7785-4,#u7791:hover #u7793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7784.MuseMenuActive #u7785-4 p,#u7791:hover #u7793-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7776,#u7769,#u7783,#u7790,#u7797
{
	width: 187px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u7784,#u7800
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u7770.MuseMenuActive,#u7791.MuseMenuActive,#u7800.MuseMenuActive
{
	width: 187px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7803-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u7791.MuseMenuActive #u7793-4,#u7800:hover #u7803-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7800.MuseMenuActive #u7803-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7791.MuseMenuActive #u7793-4 p,#u7800:hover #u7803-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7800.MuseMenuActive #u7803-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u7499
{
	z-index: 30;
	width: 114px;
	background-color: transparent;
	margin-left: 18px;
	position: relative;
}

#pu7517
{
	width: 0.01px;
	margin-top: 17px;
}

#u7517
{
	z-index: 2;
	height: 344px;
	border-color: #000000;
	background: #FFFFFF url("../../images/betterhero.jpg") no-repeat center center;
	background-size: cover;
}

#u7517-bw
{
	z-index: 2;
	height: 344px;
}

#u7524
{
	z-index: 11;
	height: 344px;
	border-color: #000000;
	background-color: #58AFC2;
	opacity: 0.62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=62)";
	filter: alpha(opacity=62);
}

#u7524-bw
{
	z-index: 11;
	height: 344px;
}

#u7377
{
	z-index: 12;
	width: 334px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 23px;
}

#u7378
{
	z-index: 13;
	width: 334px;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u7379
{
	z-index: 14;
	width: 51px;
	min-height: 58px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u7381-4
{
	z-index: 15;
	width: 227px;
	min-height: 41px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 88px;
}

#u7382
{
	z-index: 19;
	width: 30px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 175px;
}

#u7384
{
	z-index: 20;
	width: 30px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 175px;
}

#u7386-4
{
	z-index: 21;
	width: 239px;
	min-height: 16px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	color: #DEDEDE;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 70px;
}

#u7387-4
{
	z-index: 25;
	width: 263px;
	min-height: 16px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	color: #DEDEDE;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
	left: 58px;
}

#u7450
{
	z-index: 29;
	width: 24px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: fixed;
	top: 178px;
	left: 888px;
}

#u7376-8
{
	z-index: 3;
	width: 314px;
	min-height: 123px;
	border-style: none;
	background-color: transparent;
	margin-left: 33px;
	margin-top: 22px;
	position: relative;
}

#u7376-8:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 22px 0px 0px 33px;
}

#u7376-8:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 22px 0px 0px 33px;
}

#u7376-2
{
	line-height: 36px;
}

#u7508
{
	z-index: 32;
	width: 323px;
	min-height: 296px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 10px;
	position: relative;
}

#u7525
{
	z-index: 33;
	min-height: 245px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7525-bw
{
	z-index: 33;
	min-height: 245px;
	margin-top: 30px;
	height: 245px;
}

#u7534
{
	z-index: 34;
	width: 275px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	padding: 25px 42px 53px 63px;
}

#buttonu7535
{
	z-index: 35;
	width: 33px;
	height: 33px;
	margin-left: 121px;
	position: relative;
	background: #282828 url("../../images/white-up-arrow-buttonu7335-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu7535.ButtonSelected
{
	margin: 0px 0px 0px 121px;
	background: #6CDCE7 url("../../images/white-up-arrow-buttonu7335-fr.png") no-repeat center center;
	background-size: contain;
}

.Button--Normal
{
	border-style: none;
	border-color: #000000;
	background-color: #46CAD7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#u7536-4
{
	z-index: 36;
	width: 275px;
	min-height: 21px;
	background-color: transparent;
	color: #696F6F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

