.version.contact /* version checker */
{
	color: #00001F;
	background-color: #A04C22;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1349.65px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 17px;
	padding-bottom: 71.34999999999991px;
}

#accordionu7921
{
	z-index: 38;
	width: 188px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 192px;
}

#u7922
{
	z-index: 39;
	width: 188px;
	background-color: transparent;
	position: relative;
}

#u7923-3
{
	z-index: 40;
	width: 178px;
	min-height: 50px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u7923-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	margin: 0px;
}

#u7924
{
	z-index: 43;
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.95);
	padding-bottom: 9px;
	position: relative;
	border-width: 0px 0px 1px 1px;
	-pie-background: rgba(255, 255, 255, 0.95);
}

#menuu7925
{
	z-index: 44;
	width: 187px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u7926
{
	width: 187px;
	background-color: transparent;
	position: relative;
}

#u7929
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u7932-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7929:hover #u7932-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7929:hover #u7932-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7934
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u7936-4
{
	width: 187px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u7929.MuseMenuActive #u7932-4,#u7934:hover #u7936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7934.MuseMenuActive #u7936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7929.MuseMenuActive #u7932-4 p,#u7934:hover #u7936-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7933,#u7961
{
	width: 187px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u7964
{
	width: 187px;
	border-style: solid;
	border-color: #F6F6F6;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
	border-width: 0px 0px 1px;
}

#u7934.MuseMenuActive,#u7964.MuseMenuActive
{
	width: 187px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7967-4
{
	width: 187px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 0px;
}

#u7964:hover #u7967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u7964.MuseMenuActive #u7967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u7934.MuseMenuActive #u7936-4 p,#u7964:hover #u7967-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u7964.MuseMenuActive #u7967-4 p
{
	color: #46CAD7;
	visibility: inherit;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#pu7499
{
	width: 0.01px;
	margin-left: 18px;
}

#u7499
{
	z-index: 26;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7919
{
	z-index: 36;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 314px;
}

#pu7517
{
	width: 0.01px;
	margin-top: 17px;
}

#u7517
{
	z-index: 2;
	height: 344px;
	border-color: #000000;
	background: #FFFFFF url("../../images/betterhero.jpg") no-repeat center center;
	background-size: cover;
}

#u7517-bw
{
	z-index: 2;
	height: 344px;
}

#u7524
{
	z-index: 11;
	height: 344px;
	border-color: #000000;
	background-color: #58AFC2;
	opacity: 0.62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=62)";
	filter: alpha(opacity=62);
}

#u7524-bw
{
	z-index: 11;
	height: 344px;
}

#u7386-4
{
	z-index: 12;
	width: 239px;
	min-height: 16px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	color: #DEDEDE;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 70px;
}

#u7377
{
	z-index: 16;
	width: 334px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 23px;
}

#u7378
{
	z-index: 17;
	width: 334px;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u7381-4
{
	z-index: 18;
	width: 246px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 68px;
}

#u7387-4
{
	z-index: 22;
	width: 263px;
	min-height: 16px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	color: #DEDEDE;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
	left: 58px;
}

#u8314
{
	z-index: 63;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 28px;
}

#u8320
{
	z-index: 65;
	width: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 169px;
}

#u8367
{
	z-index: 67;
	width: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 169px;
}

#u8320_img,#u8367_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u7376-8
{
	z-index: 3;
	width: 314px;
	min-height: 123px;
	border-style: none;
	background-color: transparent;
	margin-left: 33px;
	margin-top: 22px;
	position: relative;
}

#u7376-8:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 22px 0px 0px 33px;
}

#u7376-8:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 123px;
	margin: 22px 0px 0px 33px;
}

#u7376-2
{
	line-height: 36px;
}

#u7508
{
	z-index: 28;
	width: 323px;
	min-height: 296px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 10px;
	position: relative;
}

#u7525
{
	z-index: 29;
	min-height: 245px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7525-bw
{
	z-index: 29;
	min-height: 245px;
	margin-top: 30px;
	height: 245px;
}

#u7534
{
	z-index: 30;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 25px 42px 32px 63px;
}

#buttonu7535
{
	z-index: 31;
	width: 33px;
	height: 33px;
	margin-left: 121px;
	position: relative;
	background: #282828 url("../../images/white-up-arrow-buttonu7535-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu7535.ButtonSelected
{
	margin: 0px 0px 0px 121px;
	background: #6CDCE7 url("../../images/white-up-arrow-buttonu7535-fr.png") no-repeat center center;
	background-size: contain;
}

.Button--Normal
{
	border-style: none;
	border-color: #000000;
	background-color: #46CAD7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#u7536-4
{
	z-index: 32;
	width: 275px;
	min-height: 21px;
	background-color: transparent;
	color: #696F6F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u7534-bw
{
	z-index: 30;
	height: 85px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

